.first-screen p {
    text-align: center;
    margin-bottom: 10px;
}

.first-screen-off {
    display: none;
}

.margin-first-paragraph {
    margin-top: 20px;
}

.highlighted-text--first-screen {
    font-weight: 700;
    font-style: italic;
}

// bubbles icons

.speech-bubble {
    position: absolute;
    z-index: 5;
}

.speech-bubble--parl {
    top: -40px;
    right: -240px;
}

.speech-bubble--rock {
    bottom: 20px;;
    right: -240px;
}

.speech-bubble--goose {
    bottom: -20px; 
    left: -220px; 
}

.speech-bubble--leaf {
    top: 10px;
    left: -230px;
}

.speech-bubble--two-querie img {
    display: none;
}

// social icons

.social-icons--secion {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 25px 0;

    .fa {
        @include font-size-value(20);
        color: $primary-color;
        transition: 0.3s;
    } 

    .fa-twitter {
        margin: 0 8px;
    }

    .fa-facebook {
        margin-right: 8px;
    }

    a:hover,
    a:focus {
        color: $highlight;
    }
} 

//anchor tag under white box asking for users to send more insults
.below-white-box a {
    @include font-size-value(20);
    transition: all 0.3s ease;
    display: block;
    text-align: center;
    margin: 0px 10px;

     &:hover,
     &:focus {
            text-decoration: underline;
        }
}

// media queries

@media (max-width: 1344px) {
    .speech-bubble img {
        max-width: 90%;
    }
    .speech-bubble--parl {
    top: 0px;
}
    .speech-bubble--rock, .speech-bubble--parl  {
        right: -200px;
    }

    .speech-bubble--goose {
        bottom: -20px; 
        left: -140px; 
    }

    .speech-bubble--leaf {
        top: -70px;
        left: -220px;
    }
}

@media (max-width: 1295px) {
     .speech-bubble--leaf {
        top: -80px;
        left: -160px;
        max-width: 30%;
    }
}

@media (max-width: 1165px) {
    .speech-bubble--leaf {
        left: -150px;
        top: -60px;
    }
}

@media (max-width: 1140px) {
   .speech-bubble--two-querie {
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin: 25px 0;
   }
   .speech-bubble--two-querie img {
       display: inline-block;
       max-width: 30%;
   }
   .speech-bubble {
       display: none;
   }
   .speech-bubble--two-querie button {
        margin: 0 25px;
   }
}

@media (max-width: 740px) {
    .speech-bubble--two-querie {
         flex-direction: column;
         margin: 25px 0;
     }
     .speech-bubble--two-querie img {
        max-width: 50%;
     }
}

@media (max-width: 600px) {
    .margin-first-paragraph {
        margin-top: 5px;
    }
}

@media (max-width: 411px) {
    .input--form-text {
        padding: 10px 20px;
    }

    .first-screen, .second-screen {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
