footer {
      padding: 1px;
      background: rgba($primary-color, 0.6);

        a {
           @include font-size-value(16);
            font-family: $header-font;
            font-variant: small-caps;
            transition: all 0.3s ease;

            &:hover {
                color: $highlight;
            }
        }
}


// media queries

@media (max-width: 700px) {
    .wrapper-footer-nav {
      flex-direction: column;
      text-align: center;
    }
}