form {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
}    
    
input, .again-button, form button {
    border: 3px solid $primary-color;
    color: $primary-color;
    @include font-size-value(18);
    background: $secondary-color;
    margin-right: 10px;
    font-family: $paragraph-font;
}

.input--form-text {
    padding: 15px 30px;
}

button[type=submit] {
    padding: 15px 40px;
}

.again-button {
    width: 180px;
    height: 58px;
    margin: 0;
}
        
button[type=submit], .again-button {
    font-variant: small-caps;
    transition: all 0.3s ease;

    &:hover {
        background: $highlight;
        color: $secondary-color;
    }
}

    // media queries

@media (max-width: 830px) {
    form {
        flex-direction: column;
        align-items: center;
    }

    .input--form-text {
        margin-right: 0;
    }

    button[type=submit] {
        margin-top: 10px;
    }
    .again-button {
        margin-top: 10px;
        margin-right: 10px;
    }
}