// variables

$primary-color: rgb(34, 30, 30);
$secondary-color: rgb(254,253,255);
$highlight:	rgba(228, 3, 3, 0.9);


$header-font: 'Vollkorn', serif;
$paragraph-font:'Lato', sans-serif;

// mixins

@mixin font-size-value($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}

// base size

html {
    font-size: 62.5%;
}

// stipping
h1, h2, p {
    margin: 0;
    padding: 0;
}

// wrappers

.wrapper-max {
     max-width: 1800px;
     margin: 0 auto;
}

.wrapper-inner {
    max-width: 65%;
    margin: 5vh auto;
    position: relative;
}

.wrapper-inner--box-text {
    min-height: 430px;
    margin: 0 auto;
    margin-bottom: 3vh;
    padding: 40px;
    background: $secondary-color;
    border: 3px solid $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-footer-nav {
    margin: 0 auto;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// to fix floating footer
.footer-fixer {
    min-height: calc(100vh - 46px);
    padding: 1px; 
}

// background

body {
    background-image: linear-gradient(to right,rgba(51, 48, 51, 0.7), rgba(33, 37, 31, 0.6)), 
    url("./assets/HOC seats.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1px;

}
header {
    text-align: center;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
}

// headings

h1 {
    font-size: 6vw;
    color: $secondary-color;
    font-family: $header-font;
    font-weight: 800;
    letter-spacing: 1.5px;
    font-variant: small-caps;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
}

header span {
    font-weight: 700;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
}
// General

a {
    text-decoration: none;
    color: $secondary-color;
}

p, a {
    @include font-size-value(18);
}

a, input, p {
    font-family: $paragraph-font;
}

p {
    font-weight: 400;
    color: $primary-color;
}

 footer a, nav a {
    @include font-size-value(14);
    font-variant: small-caps;
}

// media queries
@media (max-width: 650px) {
    .wrapper-inner {
            max-width: 95%;
        }
}

@media (max-width: 370px) {
    h1 {
        @include font-size-value(35);
    }
}