.second-screen {
    display: none;
}

.insult-generated {
    margin: 25px 0;
}

.insult-style, .date-of-insult {
    text-align: center;
}

.insult-style {
    @include font-size-value(30);
    min-height: 100px;
}

.insult-style:first-letter {
    text-transform: capitalize;
    font-weight: 700;
    @include font-size-value(45);

    }

.date-of-insult {
    @include font-size-value(16);
    color: lighten($primary-color, 10);  
    font-style: italic; 

}

// media queries

@media (max-width: 450px) {
    .social-icons--secion p {
        @include font-size-value(20);
        justify-content: center;
    }
    .disapear-on-query {
        display: none;
    }
    .social-icons--secion {
        flex-direction: column;
    }
}


